<!DOCTYPE html>

<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>About Golice</title>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500&family=Markazi+Text:wght@400;500;600;700&display=swap" rel="stylesheet">

     <!-- the project's own style sheet -->
     <link href="/static/about.css" rel="stylesheet">
</head>
<body>
     <header>
          <div class="container">               
               <nav class="navbar navbar-light sticky-top">
                    <div class="container-fluid">
                      <a class="navbar-brand fs-2" href="/">
                         <span id="home-sign">&lt;</span> Home
                      </a>
                    </div>
               </nav>
          </div>
     </header>
     <main>
          <div class="container">
               <div class="row">
                    <div class="col-md-6 intro">
                         <h2>Welcome to Golice</h2>
                         <p>
                              <br>
                              A breif summary about all the technologies that run Golice as it is...
                         </p>
                    </div>
                    <div class="col-md-6">
                         <img src="static/icons/gold-pic.png" alt="gold graphical pic" id="gold-pic">
                    </div>
               </div>
               <div class="row container">
                    <div class="col-md-6" id="basic-div">
                         <img src="static/icons/js.png" alt="Java Script Icon" class="basic-bundle d-block mb-3 offset-md-1"> 
                         <img src="static/icons/html-5.png" alt="HTML Icon" class="basic-bundle">
                         <img src="static/icons/css-3.png" alt="CSS Icon" class="basic-bundle">
                         <p class="ps-1">THE BASIC WEB BUNDLE</p>
                    </div>
                    <div class="col-md-6 basic-p">
                         <p>The basic building blocks for Golice were conventionally JavaScript, CSS3, HTML5.</p>
                    </div>
                    <div class="col ">
                         <img src="static/icons/Screen Shot 1.png" alt="HTML code in VS Code" class="rounded mx-auto d-block mt-5" style="width: 60%;">
                    </div>
               </div>
               <div class="row container" id="bootstrap-div">
                    <div class="col-md-6 text-center">
                         <img src="static/icons/bootstrap-logo.png" alt="Bootstrap's logo">
                         <p class="logo-desc">Bootstrap v5.2</p>
                    </div>
                    <div class="col-md-6 basic-p">
                         <p>
                              A huge chunk of the styling used to build Golice was made by Bootstrap utilities. 
                         </p>
                         <p class="source-btn">
                              more about Bootstrap 
                              <a href="https://getbootstrap.com/">
                                   ---->
                              </a>
                         </p>
                    </div>
                    <div class="col ">
                         <img src="static/icons/Screen Shot 2.png" alt="HTML code in VS Code" class="rounded mx-auto d-block mt-5" style="width: 70%;">
                    </div>
               </div>
               <div class="row container">
                    <div class="col-md-6 text-center">
                         <img src="static/icons/chartjs-logo.png" alt="the chart.js library logo" style="width: 16vw;">
                         <p class="logo-desc">Chart.JS</p>
                    </div>
                    <div class="col-md-6 basic-p">
                         <p>
                              All charts in Golice were made with Chart.js, a JavaScript Library that creates charts in web pages.
                         </p>
                         <p class="source-btn">
                              more about ChartJS 
                              <a href="https://www.chartjs.org/">
                                   ---->
                              </a>
                         </p>
                    </div>
                    <div class="col">
                         <img src="static/icons/Screen Shot 3.png" alt="HTML code in VS Code" class="rounded mx-auto d-block mt-5" style="width: 70%;">
                    </div>
               </div>
               <div class="row container">
                    <div class="col-md-6 text-center">
                         <img src="static/icons/google-fonts-logo.webp" alt="google fonts' logo" style="width: 16vw;">
                         <p class="logo-desc"> google fonts</p>
                    </div>
                    <div class="col-md-6 basic-p">
                         <p>
                              All fonts in Golice were embedded from google fonts, for English "Inknut Antiqua", وللعربية خط مركزي.
                         </p>
                         <p class="source-btn">
                              more about Inknut Antiqua
                              <a href="https://fonts.google.com/specimen/Inknut+Antiqua?query=Inknut+Antiqua#standard-styles">
                                   ---->
                              </a>
                         </p>
                         <p class="source-btn">
                              more about Markazi Text
                              <a href="https://fonts.google.com/specimen/Markazi+Text?query=Markazi+&subset=arabic">
                                   ---->
                              </a>
                         </p>
                    </div>
                    <div class="text-center ">
                         <input type="text" class="font-test fs-5" placeholder="Almost before we knew it, we had left the ground.     Inknut Antiqua" autocomplete="off">
                    </div>
                    <div class="text-center fs-2">
                         <input type="text" class="font-test text-end" placeholder="الحب سماء لا تمطر غير الأحلام.     مركزي|">
                    </div>
               </div>
          </div>
     </main>
     

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>